---

- name: Deploiement de l'infra web
  hosts: web
  tasks:
  - name: Installer le serveur web
    package:
      name: nginx
      state: latest
  - name: Desactiver le site par default
    file:
      path: /etc/nginx/sites-enabled/default
      state: absent
    register: nginx_default
  - name: Configurer Nginx Ajout d'un site
    template:
      src: files/site-nginx
      dest: /etc/nginx/sites-available/kwi_wp
    register: nginx_site
  - name: Activer le site nginx
    file:
      src: /etc/nginx/sites-available/kwi_wp
      dest: /etc/nginx/sites-enabled/kwi_wp
      state: link
    register: nginx_link
  - name: Recharger nginx si necessaire
    service:
      name: nginx
      state: reloaded
    when: nginx_default.changed or nginx_site.changed or nginx_link.changed







